body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  color: black;
}

@media (orientation: portrait) {
  .app-container {
    padding: 1em;
  }

  .navbar {
    width: 100%;
    height: 2.5em;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;

    border-bottom: 1px solid black;
  }

  .navbar-logo {
    text-align: center;
  }

  /* Note container */
  .note-container {
    display: flex;
    max-height: 90vh;
  }

  /* Note index */
  .note-index {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    flex-direction: column;

    overflow-y: scroll;

    border-right: 1px solid black;
  }

  /* Index item */
  .index-item {
    width: auto;
    height: auto;
    max-width: 25vw;

    overflow: hidden;

    padding: .5rem;

    border-bottom: 1px solid black;
  }

  .index-item:hover {
    background: #fcf8e1;
  }

  .index-item > h4 {
    /* width: 100%; */
    margin: 0;
    user-select: none;
  }

  .index-item > p {
    /* width: 100%; */
    margin: 0;
    user-select: none;
  }

  /* Note page */
  .note-page {
    width: auto;
    height: 90vh;

    display: flex;
    flex: 1 0 70%;
    flex-direction: column;

    padding: .5em 0 0 .5em;
    
    overflow-y: scroll;
  }

  /* .note {
    display: flex;
    flex-grow: 1;
  } */

  .note-header {
    width: 100%;

    outline: none;

    margin-bottom: .25rem;

    font-size: 2rem;
    font-weight: bold;
  }

  .note-text {
    width: 100%;
    height: auto;

    outline: none;
  }
}

/* LANDSCAPE */
@media (orientation: landscape) {
  .app-container {
    padding: 1em;
  }

  /* Navigation */
  .navbar {
    width: 100%;
    height: 2.5em;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;

    border-bottom: 1px solid black;
  }

  .navbar-logo {
    width: auto;
    height: 100%;

    display: flex;

    text-align: center;
    align-items: center;

    padding: .2rem .2rem .2rem .2rem;
  }

  /* Note container */
  .note-container {
    display: flex;
    max-height: 90vh;
  }

  /* Note index */
  .note-index {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    flex-direction: column;

    overflow-y: scroll;

    border-right: 1px solid black;
  }

  /* Index item */
  .index-item {
    width: auto;
    height: auto;

    padding: .5rem;

    border-bottom: 1px solid black;
  }

  .index-item:hover {
    background: #fcf8e1;
  }

  .index-item > h4 {
    /* width: 100%; */
    margin: 0;
    user-select: none;
  }

  .index-item > p {
    /* width: 100%; */
    margin: 0;
    user-select: none;
  }

  /* Note page */
  .note-page {
    width: auto;
    height: 88vh;

    display: flex;
    flex: 1 0 70%;
    flex-direction: column;

    padding: 1rem;
    
    overflow-y: scroll;
  }

  /* .note {
    display: flex;
    flex-grow: 1;
  } */

  .note-header {
    width: 100%;

    outline: none;

    margin-bottom: .5rem;

    font-size: 2rem;
    font-weight: bold;
  }

  .note-text {
    width: 100%;
    max-height: auto;

    outline: none;
  }
}

/* Global */
.content-editable {
  
}

.content-editable:hover {
  background: #f7f7f7;
}

.content-editable:focus {
  background: #fcf8e1;
  outline: 0;
}